.intro {
    font-family: paprika;
}

.navbar-brand img {
    width: 50px;
}

.divider {
    background-color: #202428;
    display: flex;
    width: 100%;
}

.divider img {
    width: 25%;
}

.ourproducts {
    font-family: paprika;
}

.divider h2 {
    margin-top: 10%;
    margin-left: 10%;
    padding-bottom: 5%;
    color: #fff;
}

.container {
    margin-top: 0;
    padding-top: 0;
   
}

.congelados h2 {
    color: #fff;
    padding-top: 10%;
    padding-left: 35%;
    margin-bottom: 10%;
}

.hotfood {
    margin-top: 2rem;
    display: inline-flex;
}

.hotfood img {
    margin-left: 2rem;
    width: 20%;
    border-radius: 10px;
}

.hotfood h2 a {
    margin-right: 2rem;
    text-decoration: none;
    color: #fff;
}

.grid-hotfood {
    display: inline-grid;
    gap: 10px;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rf 1fr;
    margin: 8%;
}

.itemgrid {
    width: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(52, 52, 52);

}

.ourproducts {
    background-image: url(./img/flag.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;
}

/* Footer */



footer { 
    background-color: #181B1E;
}

.containerfoot footer p {
    font-family: paprika;
    color: #fff;
    font-size: 10px;
}

ul li a img {
    color: white;
}




